---
title : Galeri
layout : tataletak.njk
---
<h1> Welcome to My Galery </h1>
<div class="galeri-container">
	<div>
	<img id="img11"  src="/assets/img/imgabout.jpeg">
	</div>
	<div>
	<img id="img10"  src="/assets/img/10.jpg">
	</div>
	<div>
	<img id="img9" src="/assets/img/9.jpg">
	</div>
	<div>
	<img id="img8" src="/assets/img/8.jpg">
	</div>
	<div>
	<img id="bps1" src="/assets/img/7.JPG">
	</div>
	<div>
	<img id="bps2" src="/assets/img/6.JPG">
	</div>
	<div>
	<img id="bps3" src="/assets/img/5.JPG">
	</div>
	<div>
	<img id="img4" src="/assets/img/4.jpg">
	</div>
	<div>
	<img id="img3" src="/assets/img/3.jpg">
	</div>
	<div>
	<img id="img2"  src="/assets/img/2.jpg">
	</div>
	<div>
	<img id="img1"  src="/assets/img/1.jpg">
	</div>
</div>