    <div class="navbar">
        <a>
            <img src="assets/img/bendera3.png" alt="">
        </a>

        <div>
        <a href="/">Beranda</a>
        </div>

        <div>
          <a href="/profil">Profil</a>
        </div>

        <div>
          <a href="/galeri">Galeri</a>
        </div>
    </div>
